# Normalize text files to LF
* text=auto eol=lf

# Explicitly normalize common files
*.ts   text eol=lf
*.tsx  text eol=lf
*.js   text eol=lf
*.jsx  text eol=lf
*.json text eol=lf
*.scss text eol=lf
*.d.ts text eol=lf
*.md   text eol=lf
