@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    padding: 1rem;
    background-color: $primary-color;
}

.logo {
    height: 7rem;
}

.nav {
    ul {
        display: grid;
        justify-content: end;
        gap: 2rem;
        grid-auto-flow: column;

        li {
            a {
                font-size: 2rem;
                color: $white;
            }
        }
    }

    @include respond(md) {
        position: absolute;
        top: 9rem;
        left: 0;
        display: none;
        width: 100%;
        padding: 1rem 0;
        text-align: center;
        background-color: $primary-color;

        ul {
            justify-content: center;
            gap: 1rem;
            grid-auto-flow: row;

            li {
                a,
                button {
                    display: block;
                    width: 100%;
                    padding: 1rem 0;
                }
            }
        }
    }
}

// Shown only when isOpen === true
.navVisible {
    @include respond(md) {
        display: block;
        animation: fadeIn 0.3s ease-in-out forwards;
    }
}

.menuIcon {
    display: none;

    svg {
        font-size: 3rem;
        color: $white;
    }

    @include respond(md) {
        display: block;
        cursor: pointer;
        justify-self: end;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
