@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.header {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-area: header;
    padding: 1rem;
    background-color: $primary-color;
}

.logo {
    height: 8rem;
}

.nav {
    display: grid;
    align-content: center;
    ul {
        display: grid;
        justify-content: end;
        grid-auto-flow: column;
        grid-column-gap: 2rem;

        li {
            a {
                font-size: 2rem;
            }
        }
    }
}
