@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.header {
    position: sticky;
    top: 0;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-area: header;
    height: 9rem;
    padding: 1rem;
    background-color: $primary-color;
}

.logo {
    height: 8rem;
}

.nav {
    position: relative;
    display: grid;
    align-content: center;
    ul {
        display: grid;
        justify-content: end;
        grid-auto-flow: column;
        grid-column-gap: 2rem;

        li {
            a {
                font-size: 2rem;
            }
        }
    }
}

.menuIcon {
    display: none;
}

.menuIcon svg {
    font-size: 3rem;
    color: #fff;
}

@include respond(md) {
    .nav {
        position: absolute;
        top: 9rem;
        width: 100%;

        ul {
            display: grid;
            justify-content: center;
            grid-auto-flow: row;
            background-color: $primary-color;
            grid-row-gap: 2rem;
        }
    }

    .menuIcon {
        display: grid;
        justify-content: end;
        align-items: center;
        cursor: pointer;
    }
}
