@use '../../styles/abstracts/variables' as *;

.card {
    width: 40%;
    padding: $spacing-lg;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
    background-color: $white;
}

.header {
    display: grid;
    align-items: center;
    gap: $spacing-sm;
    grid-template-columns: auto 1fr;
    margin-bottom: $spacing-md;

    h2 {
        font-size: $font-lg;
        color: $primary-color;
    }
}

.icon {
    font-size: 2.4rem;
    color: $primary-color;
}

.body {
    display: grid;
    gap: $spacing-md;
    grid-auto-flow: column;
}
